---
layout: base
title: "Home"
---

<body class="home-container">
    <div id="logo-container"><img id="logo" src="{{ "/assets/img/resilient-is-logo.svg" | relative_url }}" alt="LibResilient logo, depicting a cloud with a sturdy anchor"/></div>
    <h1><a href="/" class="title">LibResilient<span class="word-delimeter">:</span> Example Site</a></h1>
    <p>{{ site.description }}</p>
    
    <div class="home-nav">
        <a href="https://gitlab.com/rysiekpl/libresilient/-/tree/master/docs/">Docs</a>
        <a href="https://gitlab.com/rysiekpl/libresilient/">Code</a>
    </div>
</body>
