<nav>
{%- for item in include.menu -%}
  {%- assign node = site.pages | where: "name", item.file | first -%}
  {%- assign url = item.url | default: node.url -%}
  {%- assign title = item.title | default: node.title -%}
  <a href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
    {{ title }}
  </a>
{%- endfor -%}
</nav>
