.title
  font-size: 1.4em

.title + *
  line-height: 1.4em
  

#logo-container
  height: auto
  width: 8em
  height: 8em
  padding: 0em
  margin: 0em auto
  border-radius: 100%
  background: white
  text-align: center
  
#logo
  max-width: 70%
  height: auto
  max-height: 70%
  margin-top: 17%
  
body > #logo-container
  margin-top: -4em
  
header > #logo-container
  width: 5em
  height: 5em
  padding: 0em
  margin: 0em
  border-radius: 100%
  background: white
  text-align: center
  display: block;
  top: -3em;
  position: relative;
  border: solid 0em #2d5589;
  margin: auto;
  box-shadow: -0.1em 0.8em 0em #2d5589, 0.1em 0.8em 0em #2d5589, 0 0 0.3em #b7b7b7;

header h1
  font-size: 160%
  margin-top: -1.5em
  
header h1 > .title
  opacity: 0.4
  position: relative
  top: 0.08em

header h1 > *
  font-size: 0.85em

header h1 > .word-delimeter
  opacity: 0.2
  font-size: 1em
  
body.home-container
  background: none
  box-shadow: none
  justify-content: center;

body.home-container h1
  font-size: 5vh
  margin: 0em
  text-align: center
  
body.home-container p
  text-align: center
  margin-top: 0em
  
  
body.home-container h1 .word-delimeter
  color: $light
  opacity: 1
  
.home-nav
  display: flex
  margin: 2em auto
  
.home-nav > a
  color: $light
  background: $link-color
  font-size: 1.5em
  border-radius: 0.25em
  padding: 0.5em #{'min(2em, 7vw);'}
  margin: #{'min(0.5em, 3vw);'}
  transition: color 0.25s, background-color 0.25s
  
  &:hover
    color: $link-color
    background: $light
    text-decoration: none
  
.more
  margin: 2em 0 1em

.more a
  border-radius: 2px
  border: 1.5px solid $link-color
  padding: .4em .8em
  transition: .2s background, .2s color

.more a:hover
  color: #fff
  background: $link-color
  text-decoration: inherit

.archive
  font-size: 1.1em

.archive time
  display: inline-block
  min-width: 10ch
  min-height: 1.75em
  margin: 0 .2em

.icon
  height: 1em
  width: 1em
  fill: currentColor
  transition: .2s color
  vertical-align: middle
  margin-bottom: .15em

a:hover .icon
  color: reduce(100)

.full table
  display: table
  width: 100%

.katex
  overflow-x: auto
  overflow-y: hidden

.rouge-table
  &, th, td, tr, pre
    font-size: inherit
    background: inherit !important
    box-shadow: none
    width: initial
    margin: 0
    padding: 0
  .gl pre
    margin: 0 1.5em 0 .25em
    opacity: .5

.word-delimeter
  opacity: 0.5
    
h1 > .word-delimeter
  padding: 0em 0.2em
    
.highlight // https://github.com/richleland/pygments-css/blob/master/monokai.css <http://unlicense.org>
  pre
    background: rgba(lighten($dark, 6%), 0.9)
    color: white
  .c
    color: #a29f90
  .err
    color: #960050
    background-color: #1e0010
  .k
    color: #66d9ef
  .l
    color: #ae81ff
  .n
    color: #f8f8f2
  .o
    color: #f92672
  .p
    color: #f8f8f2
  .cm, .cp, .c1, .cs
    color: #75715e
  .ge
    font-style: italic
  .gs
    font-weight: bold
  .kc, .kd
    color: #66d9ef
  .kn
    color: #f92672
  .kp, .kr, .kt
    color: #66d9ef
  .ld
    color: #e6db74
  .m
    color: #ae81ff
  .s
    color: #e6db74
  .na
    color: #a6e22e
  .nb
    color: #f8f8f2
  .nc
    color: #a6e22e
  .no
    color: #66d9ef
  .nd
    color: #a6e22e
  .ni
    color: #f8f8f2
  .ne, .nf
    color: #a6e22e
  .nl, .nn
    color: #f8f8f2
  .nx
    color: #a6e22e
  .py
    color: #f8f8f2
  .nt
    color: #f92672
  .nv
    color: #f8f8f2
  .ow
    color: #f92672
  .w
    color: #f8f8f2
  .mf, .mh, .mi, .mo
    color: #ae81ff
  .sb, .sc, .sd, .s2
    color: #e6db74
  .se
    color: #ae81ff
  .sh, .si, .sx, .sr, .s1, .ss
    color: #e6db74
  .bp, .vc, .vg, .vi
    color: #f8f8f2
  .il
    color: #ae81ff
  .gu
    color: #75715e
  .gd
    color: #f92672
  .gi
    color: #a6e22e

.about-profile-name
  font-weight: bold;
.about-profile-title
  font-size: small;
  margin-left: 20px;
