---
---

@import index, font, basic, layout, classes

html
  background: lighten($dark, 80%)
  padding: 1vh 0
  overflow: auto

body
  box-shadow: 0 0 .3em lighten($dark, 65%)
  border-radius: 0.5em

body > header, body > footer
  background: $header
  color: $light

body > header
    border-radius: 0.5em 0.5em 0em 0em
    flex-direction: column
    align-content: center

body > header > nav
    display: none
    
body > footer
    border-radius: 0em 0em 0.5em 0.5em

@media (min-width: 32em)
  html
    padding: 1vh unquote("max(calc(38% - 22em), 1em)")
  body > article, body > .content-container, body > footer
    padding: 1.65em calc(22% - 6em)
  body > header
    padding: 0.4em 2em 0.5em 0em;
