---
---

@import index, font, basic, layout, classes

@media (min-width: 38em)
  body > header, body > article, body > footer
    padding: 1.7em calc(38% - 14em)

body > header
  background: $header

body > footer
  background: $header
